<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write Blog</title>
</head>
<body>
    <form action="/writeblog" method="POST">
    <input type="text" name="blogTitle">
    <textarea name="blogMessage" placeholder="Your daily suvichar board is here">

    </textarea>

    <button class="btn" type="submit"> Create Blog </button>
    </form>
    
</body>
</html>