<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPgfy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>

    <title>Origin : Home Page </title>
</head>

<body>
    {{!-- {{> header}} --}}

     <header class="header">
        <div class="header_left">
            <img src="img/general/origin-white.png" height="50px" width="60px">
        </div>

        <div class="navbar-links">
            <ul class="navbar-list-items">
                <li class="navbar-list-item"><a href="/">Home</a></li>
                <li class="navbar-list-item"><a href="/about">About</a></li>
                <li class="navbar-list-item"><a href="/write">Write</a></li>
                <li class="navbar-list-item"><a href="/account/login">Sign In</a></li>
                <li class="navbar-list-item"><button class="btn-black-med">Get Started</button></li>
            </ul>
        </div>
    </header>

    <div class="container mt-4">
        <button class="btn btn-danger"><a href="/login" class="text-white">Click to open login page</a></button>
        <button class="btn btn-danger"><a href="/blog/writeblog" class="text-white">Click to write blogs</a></button>
        <button class="btn btn-danger"><a href="/logout" class="text-white">Logout</a></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39jCVpT+I1T5TuIqU6j6gD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
