<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPgfy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>


    <title>Coral</title>
</head>

<body>
    {{> header}}

    <div class="body-wrapper">

        <div class="sidebar-wrapper">
            {{>sidebar}}
        </div>

        <div class="feed">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, modi? Maiores eligendi quidem minima
            magnam exercitationem mollitia inventore. Error et voluptatibus, quas amet mollitia illum animi sed
            voluptatem omnis itaque.
        </div>

        <div class="feed-right">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque modi amet veniam reprehenderit
            delectus magni, eos quasi itaque et vero sunt provident voluptas pariatur, ipsum reiciendis dignissimos, hic
            inventore.
        </div>



        <div class="container mt-4">
            <button class="btn btn-danger"><a href="/login" class="text-white">Click to open login page</a></button>
            <button class="btn btn-danger"><a href="/blog/writeblog" class="text-white">Click to write
                    blogs</a></button>
            <button class="btn btn-danger"><a href="/logout" class="text-white">Logout</a></button>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39jCVpT+I1T5TuIqU6j6gD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>

        const socket = io();
    </script>
</body>


</html>