 <header class="header">
        <div class="header_left">
            <h1 style="font-size: 21px"> Coral </h1>
        </div>

        <div class="navbar-links">
            <ul class="navbar-list-items">
                <li class="navbar-list-item"><a href="/"><img src="/img/icons/Home.png" height="27px" width="27px"></a></li>
                <li class="navbar-list-item"><a href="/about"><img src="/img/icons/Chat.png" style="margin-top: 4px"  height="19px" width="19px"></a></li>
                <li class="navbar-list-item"><a href="/account/login"><img src="/img/icons/Shop.png" height="20px" width="20px"></a></li></a></li>
                <li class="navbar-list-item"><a href="/community/chat"><img src="/img/icons/Notifications.png" height="27px" width="27px"></a></li>
                <li class="navbar-list-item"><a href="/blog/writeblog"><img src="/img/icons/Profile.png" height="20px" width="20px"></a></li>
                <li class="navbar-list-item"><button class="btn-black-med">Get Started</button></li>
            </ul>
        </div>
    </header>