 <header class="header">
        <div class="header_left">
            <img src="/img/general/origin-white.png" height="50px" width="60px">
        </div>

        <div class="navbar-links">
            <ul class="navbar-list-items">
                <li class="navbar-list-item"><a href="/">Home</a></li>
                <li class="navbar-list-item"><a href="/about">About</a></li>
                <li class="navbar-list-item"><a href="/blog/writeblog">Write</a></li>
                <li class="navbar-list-item"><a href="/account/login">Sign In</a></li>
                <li class="navbar-list-item"><a href="/community/chat">Community Chat</a></li>
                <li class="navbar-list-item"><button class="btn-black-med">Get Started</button></li>
            </ul>
        </div>
    </header>