<ul class="sidebar-list">
    <li class="sidebar-list-item">My Profile </li>
    <li class="sidebar-list-item">Groups</li>
    <li class="sidebar-list-item">Marketplace</li>
    <li class="sidebar-list-item">Trending</li>
    <li class="sidebar-list-item">Chatrooms</li>
    <li class="sidebar-list-item">Settings</li>

</ul>