<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title> Chat Room </title>
</head>

<body>

    {{>header}}

    <section class="section-header">
        <h1> Chat Room Template </h1>
        <p> Chat Room Title : {{chatRoom.chatRoomTitle}} </p>
        <p> Chat Room : {{chatRoomNumber}} </p>

        {{sessionData.userFirstName}}
    </section>

    <div class="chat-wrapper">
        <div class="chat-header">

        </div>

        <ul class="chat-messages" id="chat-messages-box">


        </ul>

        <form class="chat-input" id="chat-input-form">
            <input type="text" id="inputMessage">
            <button type="submit">Send</button>
            
        </form>

    </div>

     <script src="/socket.io/socket.io.js"></script>
     <script>
    // Connect to the server using socket.io
    const socket = io();

    socket.on('chatMessage', function(messageData){
        console.log(messageData)
    })

    const inputMessageForm = document.getElementById("chat-input-form");
    const inputMessageField = document.getElementById("inputMessage");
    const messages = document.getElementById("chat-messages-box");

    function addMessages(messageData){
        const li = document.createElement('li');
        li.textContent = messageData.message;
        messages.appendChild(li)
    }

    inputMessageForm.addEventListener('submit', function(e){
        e.preventDefault();
        if(inputMessageField.value){
            socket.emit("chatMessage", inputMessageField.value);
            inputMessageField.value = '';
        }
    })

    socket.on("chatMessage", function(messageData){
        addMessages(message)
    })

    </script>
</body>

</html>