<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title> Chat Room </title>
</head>

<body>

    {{>header}}

    <section class="section-header">
        <h1> Chat Room Template </h1>
        <p> Chat Room Title : {{chatRoom.chatRoomTitle}} </p>
        <p> Chat Room : {{chatRoomNumber}} </p>
    </section>

    <div class="chat-wrapper">
        <div class="chat-header">

        </div>

        <div class="chat-messages" id="chat-messages-box">

        </div>

        <form class="chat-input" id="chat-input-form">
            <input type="text" id="inputMessage">
            
        </form>

    </div>

     <script src="/socket.io/socket.io.js"></script>
     <script>
    // Connect to the server using socket.io
    const socket = io();

    socket.on('chatMessage', function(message){
        console.log(message)
    })

    const inputMessageForm = document.getElementById("chat-input-form");
    const inputMessageField = document.getElementById("inputMessage");
    const messages = document.getElementsByClassName("chat-messages-box");

    function addMessages(message){

    }

    </script>
</body>

</html>