<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Chats</title>
</head>
<body>
    <h1> Community Chats </h1>
    
    <div class="chat-containers">

        <div class="chat-container">
            <h3> <a href=""> Photographers Zone </a></h3>
            <p> Everything related to Photography goes here</p>

            <button class="btn"><a href=""> Join </a></button>
        </div>

          <div class="chat-container">
            <h3> <a href=""> Photographers Zone </a></h3>
            <p> Everything related to Photography goes here</p>

            <button class="btn"><a href=""> Join </a></button>
        </div>

          <div class="chat-container">
            <h3> <a href=""> Photographers Zone </a></h3>
            <p> Everything related to Photography goes here</p>

            <button class="btn"><a href=""> Join </a></button>
        </div>

        <h3> Create your own chat room ! </h3>
    </div>
</body>
</html>