<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Chat Room</title>
</head>
<body>

    <form method="POST" action="/community/createchat">
    
    <input type="text" placeholder="Create Name for your chatroom" name="chatRoomTitle">
    <button class="btn" type="submit"> Create Chatroom </button>
    </form>

    {{#if newChatRoomId}}

    <h3> Your Chatroom has been created with id of {{newChatRoomId}} </h3>

    <Button class="btn"> <a href="/community/chat/{{newChatRoomId}}"> Join ChatRoom </a></Button>

    {{/if}}


    
</body>
</html>