<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographers Zone</title>
</head>
<body>

    <h1> Photographers Zone </h1>

    <div class="chat-container">
        <div class="chat-stats">
            Number of users connected : 
        </div>
    </div>
    
</body>
</html>