/* CSS RESET */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar{
padding: 10px;
background-color: lightblue;
margin-bottom: 50px;
}

button a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: lightcoral;
    border: none;
    border-radius: 12px;
    padding: 0.7rem;
}
