<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form class="form-control" action="/account/register" method="POST">
        <input type="text" name="firstName" placeholder="Enter your first name"><br>
        <input type="text" name="lastName" placeholder="Enter your last name"><br>
        <input type="text" name="emailAddress" placeholder="Enter your email address"><br>
        Male <input type="radio" name="gender" value="Male"><br>
        Female <input type="radio" name="gender" value="Female"><br>
        Attack Helicopter <input type="radio" name="gender" value="Attack Helicopter"><br>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <input type="password" name="confirmPassword" placeholder="Enter your password"><br>

        <button class="btn" type="submit"> Register </button>


    </form>
   <script src="/socket.io/socket.io.js"></script>
     <script>
    // Connect to the server using socket.io
    const socket = io();
</script>
</body>

</html>